/* PAGE WRAPPER:
 * Put a 1 cm margin all the way around
 */
.wrapper
{
    background-color: #FFDD73;
    height: inherit;
    width: inherit;
    background-size: cover;
    font-size: larger;
}

/* CONTENT WRAPPER
 * 

/* PAGE HEADER:
 * Display the background colors
 */
.page_header
{
    background-color: #408DD2;
    border-radius:5px;
}

/* PAGE TITLE:
 * Centered on screen
 * Large text
 * Font = Times New Roman
 */
h1.page_title
{
    text-align: center;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 50px;
    color: #A63400;
}


.push_button
{
    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:300px;
    border-radius:25px;
}

/* PUSH BUTTONS TABLE
 * No border
 */
.push_buttons_table
{
    border: none;
    table-layout: auto;
    width: 90%;
    margin: 0 auto;
}

/* PUSH BUTTON RIGHT:
 * Rounded corners
 * Font =
 * Color =
 * Align = Right
 */
.push_button_right
{
    float: right;
    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:150px;
    border-radius:25px;
    font-family:Arial,Helvetica,sans-serif;
}

/* PUSH BUTTONS LEFT:
 * Rounded corners
 * Font =
 * Color =
 * Alight = Left
 */
.push_button_left
{
    float: left;
    margin-left: 5px;
    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:150px;
    border-radius:25px;
    font-family:Arial,Helvetica,sans-serif;
}

#add-block-button
{
    float: left;
    margin-left: 5px;
    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:150px;
    border-radius:25px;
    font-family:Arial,Helvetica,sans-serif;
    color: #000000;
}

/* DATA PATH WRAPPER
 * The box in which we are going to confine the user to
 * create their data path.
 * Border = Black
 * Height = 500 px
 * Center with page
 */
.data_path_wrapper
{
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #000000;
    height: 500px;
}